$btn-size: 40px;

.container {
    background-color: black;
    min-width: $btn-size;
    min-height: $btn-size;
    height: $btn-size;
    width: $btn-size;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    &:hover {
    }
    &.done {
        margin-right: 10px;
        & svg {
            left: -4px;
        }
    }
    &.remove {
        transform: rotate(45deg);
    }
    &.add {
    }
    &.submit {
        font-size: 20px;
        width: 50%;
        border-radius: 10px;
        background-color: #fff;
        color: #000;
        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
    &.sidebar {
        z-index: 9999;

        position: absolute;
        right: 20px;
        background-color: transparent;
    }
}

.icon_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    & svg {
        position: relative;
    }
}
