.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    & .loader {
        border: 16px solid #444444;
        border-radius: 50%;
        border-top: 16px solid #b3b3b3;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }
}
