@import '../../mixins/style.module.scss';

.container {
    width: 100%;
    @include flex-center();
    & .input {
        margin-right: 5vw;
        height: 40px;
        border-radius: 100px;
        padding-left: 10px;
        padding-right: 50px;
        color: #000;
        font-size: 14px;
    }
}