@import "../../mixins/style.module.scss";

.content {
    height: 100%;
    @include flex-center();
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    & .empty_text {
        margin-top: 20px;
    }
}