@import "../../mixins/style.module.scss";

.content {
    height: 100%;
    @include flex-center();
    flex-direction: column;
    width: 80vw;
    max-width: 750px;
    margin: auto;
    
    & .empty_text {
        margin-top: 20px;
    }
    & .bar_wrapper {
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 500px) {
    .content {
        max-width: 300px;
    }
}